# Тестовая задача на логику из вакансии для Data Analyst.

## Текст задачи:

Встретились 2 друга в баре:  
  
Ну как поживаешь?  
Все хорошо, растут два сына, еще в школу не пошли.  
Сколько им лет?  
Произведение их возрастов равно количеству стаканов на той барной стойке.  
Этой информации мне недостаточно.  
Старший похож на деда.  
Теперь я знаю ответ на твой вопрос.  
  
Сколько лет сыновьям? (Ответ логичный и однозначный)

## Решение задачи:

Импортируем библиотеки

In [1]:
import pandas as pd
import warnings
warnings.filterwarnings('ignore')

Создаем 2 списка с возможными вариантами возрастов сыновей:

In [2]:
a = list(range(0,7))
b = a.copy()

print(a)
print(b)

[0, 1, 2, 3, 4, 5, 6]
[0, 1, 2, 3, 4, 5, 6]

Удаляем 0 из вариантов возрастов:

In [3]:
a.remove(0)
b.remove(0)

print(a)
print(b)

[1, 2, 3, 4, 5, 6]
[1, 2, 3, 4, 5, 6]

Создаем датафрейм `df`, где:  
- столбец `A` - возраст первого сына,  
- столбец `B` - возраст второго сына,  
- столбец `product_of_AB` - произведение возрастов сыновей.

In [4]:
df = pd.DataFrame(columns =   ['A', 'B', 'product_of_AB'])

Пишем функцию, которая заполнит наш датафрейм:

In [5]:
def df_prod(A, B, product_of_AB, df):
    result = [A, B, product_of_AB]
    rows = [pd.Series(result, index = df.columns)]
    df = pd.concat([pd.DataFrame(df), pd.DataFrame(rows)], ignore_index=True)
    return(df)

Применяем функцию:

In [6]:
for i in a:
    for j in b:
        if j>= i:
            df = df_prod(i, j, i*j, df)
        else:
            pass
df

    A  B product_of_AB
0   1  1             1
1   1  2             2
2   1  3             3
3   1  4             4
4   1  5             5
5   1  6             6
6   2  2             4
7   2  3             6
8   2  4             8
9   2  5            10
10  2  6            12
11  3  3             9
12  3  4            12
13  3  5            15
14  3  6            18
15  4  4            16
16  4  5            20
17  4  6            24
18  5  5            25
19  5  6            30
20  6  6            36

Удаляем из датафрейма все одназначные варианты произведения возрастов:

In [7]:
df = df[df.duplicated('product_of_AB') | df.duplicated('product_of_AB', keep='last')]
df

    A  B product_of_AB
3   1  4             4
5   1  6             6
6   2  2             4
7   2  3             6
10  2  6            12
12  3  4            12

In [ ]:
Удаляем из датафрейма все комбинации, где сыновья имеют

In [8]:
for i in df.index:
    if df['A'][i] == df['B'][i]:
        df.drop(axis=0, index=i, inplace=True)
df

    A  B product_of_AB
3   1  4             4
5   1  6             6
7   2  3             6
10  2  6            12
12  3  4            12

In [9]:
df.drop_duplicates(subset='product_of_AB',keep=False, inplace=True)
df.reset_index(drop=True,inplace=True)
df

   A  B product_of_AB
0  1  4             4

In [10]:
if len(df) == 1:
    print(f"возраст сыновей: {df['A'][0]} и {df['B'][0]} года.")
else:
    print("нет однозначного ответа")

возраст сыновей: 1 и 4 года.